<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Agrosense</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}">

</head>
<body>
    <div class="cadastro-form">
        <img src="{{ url_for('static', filename='logoagrosense.png') }}" alt="logo Agrosense">
        <form  id="cadastro-form" method="post" action="{{url_for('add_user')}}">
            <label for="login">
                Login:
                <span class="tooltip">?
                    <span class="tooltip-text">O login é o nome de usuário que você usará para acessar a aplicação.</span>
                </span>
            </label>
            <input type="text" id="nome" name="nome" required>

            <label for="nome">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>

            <label for="confirmar-senha">Confirmar senha:</label>
            <input type="password" id="confirmar-senha" name="confirmar-senha" required>

            <p id="erro-senha" style="color: red; display: none;">As senhas não coincidem.</p>

            <button type="submit">Confirmar</button>
            <button type="button" onclick="window.location.href='{{ url_for('login_user') }}'">Voltar ao Login</button> 
        
        </form>
    </div>
</body>
</html>

<script>
    document.getElementById("cadastro-form").addEventListener("submit", function(event) {
        var senha = document.getElementById("senha").value;
        var confirmarSenha = document.getElementById("confirmar-senha").value;
        var erroSenha = document.getElementById("erro-senha");
        
        if (senha !== confirmarSenha) {
            erroSenha.style.display = "block";
            event.preventDefault();
        } else {
            erroSenha.style.display = "none";
        }
    });
</script>