<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Agrosense</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

    <div class="left-section">

    </div>
    <div class="right-section">
        <div class="login-form">
            <img src="{{ url_for('static', filename='logoagrosense.png') }}" alt="logo do Agrosense">
        
            <form method="post" action="{{url_for('login_user')}}">
                <label for="login">Login:</label>
                <input type="text" id="login" name="nome" required>
                
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>
                
                <div class="links">
                <a href="#">Esqueci a minha senha</a>
                <a href="{{ url_for('add_user') }}">Ainda não tenho cadastro</a>
            </div>
                <button type="submit">Entrar</button>
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                        <script>
                            alert("{{ message | safe }}");
                            </script>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </form>
        </div>
    </div>
</body>
</html>